.pageWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
}

.headerRow {
    width: max(85%, 500px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.title {
    font-size: 28px;
    color: var(--text-main);
    margin: 0;
}

.playersSection {
    margin: 0 auto;
    width: 500px;
    background-color: var(--background-secondary);
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px var(--primary-box-shadow-color);
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out; /* плавне згортання / поява */
}

.gameContent {
    margin-top: 10px;
}

.finishButtonWrapper {
    margin-top: 40px;
    
    display: flex;
    justify-content: center;
    text-align: center;
}


@media (max-width: 540px) {
    .pageWrapper {
        padding: 16px 2px;
    }
    .playersSection {
        width: auto;
    }
    .headerRow {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* відстань між заголовком і кнопкою */
        text-align: center;
    }
}

.modalText {
    color: var(--text-main);
    font-size: 18px;
    margin-bottom: 30px;
}

.modalButtons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}