.button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-family: var(--font-title);
    letter-spacing: 0.05em; /* ⬅️ додає характеру */
    text-transform: uppercase; /* ⬅️ опціонально, але виглядає круто */
    cursor: pointer;
    transition:
        background-color 0.2s,
        transform 0.1s;
}

.responsive {}

@media (max-width: 520px) and (min-width: 321px) {
    .responsive {
        width: auto !important;
        margin: 0; /* прибираємо auto-margin, щоб не центровано */
    }
}

/* МЕНШЕ або рівно 320px: width: 95%, по центру */
@media (max-width: 320px) {
    .responsive {
        width: 95% !important;
        margin: 0 auto; /* центровано */
    }
}


.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.button.primary {
    background-color: var(--primary-color);
    color: white;
}

.button.primary:hover {
    background-color: var(--primary-hover);
    transform: scale(1.05);
}

.button.primary:active {
    background-color: var(--primary-active);
    transform: scale(1.05);
}

.button.secondary {
    background-color: var(--secondary-color);
    color: white;
    
}

.button.secondary:hover {
    background-color: var(--secondary-hover);
    transform: scale(1.05);
}

.button.secondary:active {
    background-color: var(--secondary-active);
    transform: scale(1.05);
}

.button.danger {
    background-color: var(--danger-color);
    color: white;
}

.button.danger:hover {
    background-color: var(--danger-hover);
    transform: scale(1.05);
}

.button.danger:active {
    background-color: var(--danger-active);
    transform: scale(1.05);
}

.button.neutral {
    background-color: #4a4a4a;
    color: #cccccc;
    transition:
        background-color 0.2s,
        box-shadow 0.2s;
}

.button.neutral:hover {
    background-color: #5c5c5c;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.05),
                0 0 4px rgba(0, 0, 0, 0.4);
}

.button.neutral:active {
    background-color: #3c3c3c;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}
